/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #1e1b4b, #020617);
  color: white;
  min-height: 100vh;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img{
  width: 32px;
  height: 32px;
  object-fit: contain;
}
.logo span{
  font-size: 20px;
  font-weight: 600;
}


/* NAVBAR */
.navbar {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
}

/* CONTAINER */
.container {
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

/* UPLOAD */
.upload-section {
  text-align: center;
  margin-top: 40px;
}

.upload-box {
  margin-top: 20px;
  border: 2px dashed #6366f1;
  padding: 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.upload-box:hover {
  background: rgba(99, 102, 241, 0.1);
}

/* DASHBOARD */
.dashboard {
  display: none;
  margin-top: 40px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  animation: fadeIn 0.6s ease;
}

/* CARD */
.card {
  flex: 1;
  min-width: 280px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 20px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* PREVIEW */
.preview-card {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-card img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

/* PALETTE */
.palette {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.color-box {
  flex: 1;
  height: 80px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.color-box:hover {
  transform: scale(1.05);
}

/* BUTTONS */
.actions {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  color: white;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* INPUT */
input {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* HISTORY */
.history {
  margin-top: 50px;
}

.history-item {
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;
  background: rgba(255,255,255,0.05);
  animation: fadeIn 0.5s ease;
}

/* ANIMATION */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .navbar {
    text-align: center;
  }

  .logo img{
    width: 26px;
    height: 26px;
  }
  .logo span{
    font-size: 18px;
  }

  .logo{
    align-items: center;
  }
}
